.profil_picture {
    height: 128px;
    width: 128px;
    border-radius: 100% !important;
    border: 4px solid #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Cards */

.card {
    background-color: white;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #4a4a4a;
    max-width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    position: relative;
}

.card-header {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-header-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #363636;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem;
}

.card-header-title.is-centered {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card-header-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem;
}

.card-image {
    display: block;
    position: relative;
}

.card-content {
    padding: 1.5rem;
}

.card-footer {
    border-top: 1px solid #dbdbdb;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-footer-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem;
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.card .media:not(:last-child) {
    margin-bottom: 0.75rem;
}

/* Media alignement */

.media {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}

.media .content:not(:last-child) {
    margin-bottom: 0.75rem;
}

.media .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.75rem;
}

.media .media .content:not(:last-child),
.media .media .control:not(:last-child) {
    margin-bottom: 0.5rem;
}

.media .media .media {
    padding-top: 0.5rem;
}

.media .media .media + .media {
    margin-top: 0.5rem;
}

.media + .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    margin-top: 1rem;
    padding-top: 1rem;
}

.media.is-large + .media {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.media-left,
.media-right {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.media-left {
    margin-right: 1rem;
}

.media-right {
    margin-left: 1rem;
}

.media-content {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    text-align: left;
}

/* Autres */

.hero{
    transform: skewY(1deg);
    margin-top: -34px;
    padding-top: 34px;
}

.hero_revert{
    transform: skewY(-1deg);
}

.mbp_image {
    height: 64px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: -27px;
    right: 36px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
}

.ph_image {
    height: 48px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: -27px;
    right: 36px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
}

.text-justify{
    text-align: justify !important;
}

.media_icon{
    font-size: 20px;
    width: 20px;
    margin-top: 17px;
}

/* Spinner */
.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}